<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="fragments/general.html :: head" />
  <body>
    <header th:replace="fragments/general.html :: header"></header>
    <nav th:replace="fragments/general.html :: nav"></nav>

    <main class="container min-vh-100">
      <br />
      <h1 th:text="${project.projectAbbr}"></h1>
      <h2 class="h3">Available objects and prototypes</h2>
      <p>
        Overview over your authorized GAMS projects.
      </p>
      <ul>
        <li>
          <a th:href="${project.projectAbbr} + '/objects'">Manage objects</a>
        </li>
      </ul>
    </main>

    <footer th:replace="fragments/general.html :: footer"></footer>
  </body>
</html>
