<!doctype html>
<html lang="en">

<head th:replace="fragments/general.html :: headtemplate" />

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <aside th:replace="fragments/general.html :: aside"></aside>
    <div class="body-wrapper">
        <header th:replace="fragments/general.html :: header"></header>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                </ol>
            </nav>
            <h2>GAMS Users</h2>
            <p>Overview over all GAMS5 users (with roles and project assignment)</p>
            <br/>
            <ul class="list-group" style="list-style: none;">
                <li th:each="user : ${users}" class="list-group-item">
                    <div><b>Username</b>: <span th:text="${user.username}"></span></div>
                    <div><b>Roles</b>: <span th:text="${user.roles}"></span></div>
                    <div>
                        <b>Assigned projects</b>
                        <ul>
                            <li th:each="project : ${user.projects}" th:text="${project.projectAbbr}"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>