<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/general.html :: head" />
<body class="bg-light">
<header th:replace="fragments/general.html :: header"></header>
<nav th:replace="fragments/general.html :: nav"></nav>

<main class="container min-vh-100 mt-4">
    <div class="webcirilo-box shadow-sm mb-1">
        <h1>GAMS projects</h1>
        <p>
            Hi <b th:text="${user.username}"></b>! Overview over your authorized GAMS projects.
        </p>
        <p>Your assigned roles: <span th:text="${user.roles}"></span></p>
    </div>
    <div class="webcirilo-box shadow-sm mb-1">
        <ul class="list-group list-group-flush" style="list-style: none;">
            <li th:each="project : ${user.projects}" class="list-group-item">
                <a th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects'" th:text="${project.projectAbbr + ' - project'}"></a>
            </li>
        </ul>
    </div>

</main>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>
