<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/general.html :: head}" />



<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <aside th:replace="~{fragments/general.html :: aside}"></aside>

    <div class="body-wrapper">
        <header th:replace="~{fragments/general.html :: header}"></header>
        <div class="container-fluid" style="min-height: 100vh">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/api/v1/userinfo">User</a></li>
                </ol>
            </nav>
            <h2 th:text="${user.username}" class="mb-3"></h2>
            <p>
                Overview over your authorities for GAMS5.
            </p>
            <div class="webcirilo-box shadow-sm mb-1">
                <ul class="list-group list-group-flush" style="list-style: none;">
                    <li th:each="authority : ${user.authorities}" class="list-group-item">
                        <p th:text="${authority}"></p>
<!--                        <a th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects'" th:text="${project.projectAbbr + ' - project'}"></a>-->
                    </li>
                </ul>
            </div>

        </div>
        <footer th:replace="~{fragments/general.html :: footer}"></footer>
    </div>
</div>
</div>
</div>
<footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>
