<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head th:fragment="headtemplate">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GAMS</title>
    <link rel="icon" type="image/x-icon" href="http://gams.uni-graz.at/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />

    <script type="text/javascript" src="/web_cirilo/js/spark-md5.min.js"></script>
    <script type="text/javascript" src="/web_cirilo/js/jszip.min.js"></script>
    <script type="text/javascript" src="/web_cirilo/js/web_cirilo.js"></script>
  </head>

  <body>
    <header th:fragment="header" class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link nav-icon-hover" href="javascript:void(0)">-->
<!--              <i class="ti ti-bell-ringing"></i>-->
<!--              <div class="notification bg-primary rounded-circle"></div>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <a href="/api/v1" class="btn btn-primary">Home</a>
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"-->
<!--                 aria-expanded="false">-->
<!--                <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">-->
<!--              </a>-->
<!--              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">-->
<!--                <div class="message-body">-->
<!--                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">-->
<!--                    <i class="ti ti-user fs-6"></i>-->
<!--                    <p class="mb-0 fs-3">My Profile</p>-->
<!--                  </a>-->
<!--                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">-->
<!--                    <i class="ti ti-mail fs-6"></i>-->
<!--                    <p class="mb-0 fs-3">My Account</p>-->
<!--                  </a>-->
<!--                  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">-->
<!--                    <i class="ti ti-list-check fs-6"></i>-->
<!--                    <p class="mb-0 fs-3">My Task</p>-->
<!--                  </a>-->
<!--                  <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
          </ul>
        </div>
      </nav>
    </header>

    <aside th:fragment="aside" class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/api/v1" class="text-nowrap logo-img">
            <img src="https://gams.uni-graz.at/templates/img/gams_solo.png" width="40" alt="" />
            <span class="text-black">GAMS</span>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
<!--            <li class="nav-small-cap">-->
<!--              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>-->
<!--              <span class="hide-menu">Home</span>-->
<!--            </li>-->
            <br/>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Home</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Digital Objects</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1/objects" aria-expanded="false">
                <span>
                  <i class="ti ti-search"></i>
                </span>
                <span class="hide-menu">Search</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1/projects" aria-expanded="false">
                <span>
                  <i class="ti ti-folder"></i>
                </span>
                <span class="hide-menu">Project objects</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Files / Datastreams</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1/datastreams" aria-expanded="false">
                <span>
                  <i class="ti ti-search"></i>
                </span>
                <span class="hide-menu">Search</span>
              </a>
            </li>
            <!--          <li class="sidebar-item">-->
            <!--            <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">-->
            <!--                <span>-->
            <!--                  <i class="ti ti-alert-circle"></i>-->
            <!--                </span>-->
            <!--              <span class="hide-menu">Alerts</span>-->
            <!--            </a>-->
            <!--          </li>-->
            <!--          <li class="sidebar-item">-->
            <!--            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">-->
            <!--                <span>-->
            <!--                  <i class="ti ti-cards"></i>-->
            <!--                </span>-->
            <!--              <span class="hide-menu">Card</span>-->
            <!--            </a>-->
            <!--          </li>-->
            <!--          <li class="sidebar-item">-->
            <!--            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">-->
            <!--                <span>-->
            <!--                  <i class="ti ti-file-description"></i>-->
            <!--                </span>-->
            <!--              <span class="hide-menu">Forms</span>-->
            <!--            </a>-->
            <!--          </li>-->
            <!--          <li class="sidebar-item">-->
            <!--            <a class="sidebar-link" href="./ui-typography.html" aria-expanded="false">-->
            <!--                <span>-->
            <!--                  <i class="ti ti-typography"></i>-->
            <!--                </span>-->
            <!--              <span class="hide-menu">Typography</span>-->
            <!--            </a>-->
            <!--          </li>-->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Projects</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1/projects/DUMMY" aria-expanded="false">
                <span>
                  <i class="ti ti-list"></i>
                </span>
                <span class="hide-menu">Overview</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Users</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/api/v1/users" aria-expanded="false">
                <span>
                  <i class="ti ti-list"></i>
                </span>
                <span class="hide-menu">Overview</span>
              </a>
            </li>
            <!--          <li class="sidebar-item">-->
            <!--            <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">-->
            <!--                <span>-->
            <!--                  <i class="ti ti-user-plus"></i>-->
            <!--                </span>-->
            <!--              <span class="hide-menu">Register</span>-->
            <!--            </a>-->
            <!--          </li>-->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link external" href="https://zimlab.uni-graz.at/gams5/production/documentation/-/wikis/home" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-book"></i>
                </span>
                <span class="hide-menu">Documentation</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link external" href="/api/v1/swagger-ui/index.html" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-api"></i>
                </span>
                <span class="hide-menu">REST-API</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link external" href="https://zimlab.uni-graz.at/gams5/production/issue-backlog/-/issues" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-file-broken"></i>
                </span>
                <span class="hide-menu">Issues</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link external" href="https://zimlab.uni-graz.at/gams5" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Code</span>
              </a>
            </li>
          </ul>
          <!--        <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">-->
          <!--          <div class="d-flex">-->
          <!--            <div class="unlimited-access-title me-3">-->
          <!--              <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>-->
          <!--              <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>-->
          <!--            </div>-->
          <!--            <div class="unlimited-access-img">-->
          <!--              <img src="/assets/images/backgrounds/rocket.png" alt="" class="img-fluid">-->
          <!--            </div>-->
          <!--          </div>-->
          <!--        </div>-->
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>

    <footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top p-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p>Further Informationen</p>
            <p><a href="https://gams.uni-graz.at/archive/objects/context:gams/methods/sdef:Context/get?mode=imprint&locale=en" target="_blank">Imprint</a></p>
            <p><a href="https://gams.uni-graz.at/archive/objects/context:gams/methods/sdef:Context/get?mode=dataprotection&locale=en" target="_blank">Data protection</a></p>
          </div>
          <div class="col-md-6">
            <p>Contact</p>
            <p>Zentrum für Informationsmodellierung -
              Austrian Centre for Digital Humanities
              Karl-Franzens-Universität Graz</p>
            <p>zim@uni-graz.at</p>
            <p><a href="http://informationsmodellierung.uni-graz.at" target="_blank">http://informationsmodellierung.uni-graz.at</a></p>
            <p>Theme designed and developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
          </div>
        </div>


      </div>
    </footer>
  </body>
</html>
