<!doctype html>
<html lang="en">

<head th:replace="~{fragments/general.html :: headtemplate}" />

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside th:replace="~{fragments/general.html :: aside}"></aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <header th:replace="~{fragments/general.html :: header}"></header>
    <div style="min-height: 100vh" class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
          <li class="breadcrumb-item"><a href="/api/v1/"></a></li>
        </ol>
      </nav>
      <h2>GAMS5</h2>
      <p>Overview of base functionalities</p>

      <div class="border border-2 card">
        <div class="card-header">
          <h3 class="mb-0 h5">
            <i class="ti ti-home me-2"></i>Home
          </h3>
        </div>
        <div class="card-body">

<!--      <p>GAMS is an OAIS-compliant asset management system for the administration, publication and long-term archiving of digital resources from all humanities subjects. It offers research and teaching staff as well as students in projects the opportunity to manage and publish these resources in a citable manner and with metadata.</p>-->
        <div class="row">
          <div class="col-md-4">
            <div class="card border shadow-none">
              <a href="/api/v1/projects" class="card-body">
                <h5 class="card-title">
                  <span class="pe-1">
                    <i class="ti ti-list-search"></i>
                  </span>
                  Project overview
                </h5>
                <br/>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">Overview of GAMS-projects and their digital objects with assigned datastreams.</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card border border-2 shadow-none">
              <a href="https://zimlab.uni-graz.at/gams5/production/documentation/-/wikis/home" target="_blank" class="card-body">
                <h5 class="card-title">
                  <span class="pe-1">
                    <i class="ti ti-book"></i>
                  </span>
                  Documentation
                </h5>
                <br/>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">Provides CRUD for digital objects and datastreams based on projects and users.</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card border border-2 shadow-none">
              <a href="/api/v1/openapi" target="_blank" class="card-body">
                <h5 class="card-title">
                  <span class="pe-1">
                    <i class="ti ti-api"></i>
                  </span>
                  REST-API Documentation
                </h5>
                <br/>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">Overview for the REST endpoints provided by GAMS5.</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card border border-2 shadow-none">
              <a href="https://zimlab.uni-graz.at/gams5/production/issue-backlog/-/issues" target="_blank" class="card-body">
                <h5 class="card-title">
                  <span class="pe-1">
                    <i class="ti ti-file-broken"></i>
                  </span>
                  Report an issue
                </h5>
                <br/>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">Report bugs, feature-requests or refactoring suggestions here.</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </a>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card border border-2 shadow-none">
              <a href="https://zimlab.uni-graz.at/gams5" target="_blank" class="card-body">
                <h5 class="card-title">
                  <span class="pe-1">
                    <i class="ti ti-aperture"></i>
                  </span>
                  Contribute to development
                </h5>
                <br/>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text">GAMS development structure in the version control system.</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </a>
            </div>
          </div>


          <!-- <div class="col-md-4">
            <div class="card">
              <a href="https://zimlab.uni-graz.at/gams5/gams-dissemination/gams-web/gams-projecttemplate" target="_blank" class="card-body">
                <h5 class="card-title">Initialize a project dissemination template</h5>
                <br/>
                <p class="card-text">Frontend template for a GAMS project. Develop a custom frontend for your research project based on forking.</p>
              </a>
            </div>
          </div> -->


          <!-- <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div> -->

        </div>
    </div>


    <br/>
    <br/>
    <br/>
    <br/>
      </div>
    </div>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>
  </div>
</div>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/assets/js/dashboard.js"></script>
</body>

</html>