<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="fragments/general.html :: head" />
  <body>
    <header th:replace="fragments/general.html :: header"></header>
    <nav th:replace="fragments/general.html :: nav"></nav>

    <main class="container min-vh-100">
      <br />
      <h1>GAMS</h1>
      <h2 class="h3">Web Cirilo</h2>
      <p>
        Here you'll find a basic demonstration of GAMS functionalities.
      </p>
      <div class="row">
        <div class="col-md-4">
          <a class="card p-3 text-dark text-decoration-none" href="/api/v1/management/projects" style="border: 2px solid #538056">
            <p><b>GAMS: Manage project data</b></p>
            <p><small>Provides CRUD for digital <i>objects and datastreams</i> based on <i>projects and users</i>.</small></p>
          </a>
          <br/>
          <a class="card p-3 text-dark text-decoration-none" style="border: 2px solid #538056" href="#">
            <p><b>GAMS Documentation</b></p>
            <p><small>Documentation and additional material for GAMS usage and development</small></p>
          </a>
          <br />

        </div>
        <div class="col-md-4">
          <a class="card p-3 text-dark text-decoration-none" href="#" style="border: 2px solid #538056">
            <p><b>GAMS Tutorials</b></p>
            <p><small>Tutorials, guides and How-Tos related to gams projects</small></p>
          </a>
          <br/>
          <a class="card p-3 text-dark text-decoration-none" style="border: 2px solid #538056" href="#">
            <p><b>GAMS:Dissemination</b></p>
            <p><small>Integration for web frontends and further data processing</small></p>
          </a>
        </div>
      </div>
      <!-- <p><b>Pid:</b> <span th:text="${do.pid}"></span></p> -->
      <!-- <p><b>Linked resource path: </b><span th:text="${do.resource.path}"></span></p> -->
      <!-- <p><b>Resource RDF metadata: </b><pre><span th:text="${do.resource.rdfXml}"></span></pre></p> -->
    </main>

    <footer th:replace="fragments/general.html :: footer"></footer>
  </body>
</html>
