<!DOCTYPE html>
<!-- Namespace for Thymeleaf tags! Beyond nearly standard html -->
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="fragments/general.html :: head"/>
  <body class="bg-light">
    <header th:replace="fragments/general.html :: header"></header>
    <nav th:replace="fragments/general.html :: nav"></nav>
    
    <main class="container mt-4">
    <div class="webcirilo-box shadow-sm mb-1">
      <h1 th:text="${do.id}" class="mb-3"></h1>
      <p>
        Overview over a singular digital object
      </p>
      <div>
        <a class="btn btn-outline-success mb-3" th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects'" th:text="'Back to overview (' + ${project.projectAbbr} + ')'"></a>
      </div>
        <div class="bg-light p-2">

          <p><b>Id:</b> <span th:text="${do.id}"></span></p>
          <p><b>Owned by project:</b> <span th:text="${project.projectAbbr}"></span></p>
          <!-- <p><b>Linked resource path: </b><a target="_blank" th:href="${do.metaAddress}" th:text="${do.metaAddress}"></a></p> -->
          <!-- <p><b>Audittrail: </b><a th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/audittrail'" th:text="'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/audittrail'"></a></p> -->
        </div>
      </div>
        <div class="webcirilo-box shadow-sm mb-1">
      <h2 class="h4">Datastreams</h2>
      <p>Displays all datastreams of a digital object</p>
      <p></p>
      <ul class="list-group-flush p-0">
        <li th:each="dstream : ${do.datastreams}" class="d-flex justify-content-between align-items-center list-group-item bg-light">
          
          <a style="color:black" th:text="${dstream.dsid}" th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/datastreams/' + ${dstream.dsid}"></a>

          <div>
            <span th:text="${dstream.globalId + ' (global datastream id)'}"> </span>
            <!-- <span th:text="${dstream.mimeType}"></span> -->
            <!--
            <a target="_blank" th:href="${dstream.metaAddress} + '/fcr:metadata'">Fedora resource</a>
            <a target="_blank" th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/datastreams/' + ${dstream.dsid} + '/fixity'">Fixity report</a>
            <a target="_blank" th:href="'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/datastreams/' + ${dstream.dsid} + '/audittrail'">Audittrail</a>
            -->
            <form
              onsubmit="return confirm('Are you sure you want to delete this datastream?');"
              action="#"
              th:action="@{'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/datastreams/' + ${dstream.dsid}}"
              th:object="${do}"
              method="delete"
              th:method="DELETE"
              class="d-inline"
            >
              <!-- <input type="hidden" name="id" th:field="*{id}"/> -->
              <!-- <input type="hidden" name="dsid" th:value="${#strings.substringAfter(dstream.ldpResource.path,'/datastream/')}"/> -->
              <input type="submit" class="btn btn-outline-dark" value="Delete"/>
            </form>
          </div>
        </li>
      </ul>
      <br/>
      <form
        onsubmit="return webCirilo.appendFormSubmitPath('add_datastream_form', 'datastream_id_input')"
        id="add_datastream_form"
        action="#"
        th:action="@{'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id} + '/datastreams/'}"
        th:object="${do}"
        method="put"
        th:method="PUT"
        enctype="multipart/form-data"
        class="w-25"
      >
        <div class="form-group">
          <!-- <input class="form-control" id="id" type="hidden" th:field="*{id}"/> -->
          <p><b>New datastream</b> (via datastream-id) <input required class="form-control" type="text" id="datastream_id_input"/></p>
          <input class="form-control" type="file" id="file" name="file" value="Upload file" required/>
      </div>
      <script>
        webCirilo.addChecksumRequestParam("file","add_datastream_form");
      </script>
        <!-- <label for="fname">First name:</label> -->
        <!-- <input type="text" id="lname" name="lname"><br><br> -->
        <br/>
        <p>
          <input class="btn btn-light" type="submit" value="Submit"/>
          <input class="btn btn-light" type="reset" value="Reset" />
        </p>
      </form>
      <br/>
      <h2 class="h4">Dublin Core</h2>
      <p>Primary Dublin Core metadata derived from the GAMS-API</p>
      <ul class="list-group-flush p-0">
        <li class="list-group-item bg-light">
          <small>dc:identifier</small>
          <p th:text="${do.id}"></p>
        </li>
      </ul>
      <p>Auxiliary metadata as dublin core</p>
      <ul class="list-group-flush p-0" th:if="${do.baseMetadata}">
          <li class="list-group-item bg-light">
            <small>dc:title</small>
            <p th:text="${do.baseMetadata.title}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:creator</small>
            <p th:text="${do.baseMetadata.creator}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:description</small>
            <p th:text="${do.baseMetadata.description}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:subject</small>
            <p th:text="${do.baseMetadata.subject}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:publisher</small>
            <p th:text="${do.baseMetadata.publisher}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:contributor</small>
            <p th:text="${do.baseMetadata.contributor}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:date</small>
            <p th:text="${do.baseMetadata.date}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:type</small>
            <p th:text="${do.baseMetadata.type}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:format</small>
            <p th:text="${do.baseMetadata.format}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:source</small>
            <p th:text="${do.baseMetadata.source}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:language</small>
            <p th:text="${do.baseMetadata.language}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:relation</small>
            <p th:text="${do.baseMetadata.relation}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:coverage</small>
            <p th:text="${do.baseMetadata.coverage}"></p>
          </li>
          <li class="list-group-item bg-light">
            <small>dc:rights</small>
            <p th:text="${do.baseMetadata.rights}"></p>
          </li>
      </ul>

      <br/>
      <h2 class="h4">Danger zone</h2>
      <p>Permanent deletion of the digital object</p>
      <form
        onsubmit="return confirm('Are you sure you want to delete this digital object?');"
        action="#"
        th:action="@{'/api/v1/projects/' + ${project.projectAbbr} + '/objects/' + ${do.id}}"
        method="delete"
        th:method="DELETE"
        class="d-inline"
      >
        <input type="submit" class="btn btn-outline-danger" value="Delete object"/>
      </form>
      <br/>
    </div>
    
    </main>

    <footer th:replace="fragments/general.html :: footer"></footer>

    <script>
      webCirilo.applySubmitObjectMetaPropertiesListener("object_create");
    </script>
  </body>
</html>
